<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLoggedIn === 'true'">
    <a href="" class="navbar-brand">Prasidyo</a>
    <ul class="navbar-nav me-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="" class="nav-link">Home </a>
      </li>
      <li class="nav-item">
        <a href="/company" class="nav-link" routerLink="company">Company</a>
      </li>
      <li class="nav-item">
        <a href="/product" class="nav-link" routerLink="product">Product</a>
      </li>
      <li class="nav-item">
        <a href="/transaction" class="nav-link" routerLink="transaction">Transaction</a>
      </li>
    </ul>

    <ul class="navbar-nav ms-auto" *ngIf="isLoggedIn === 'true'">
      <!-- <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li> -->
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

</div>
<router-outlet></router-outlet>
